@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
  --body-color: #12161f;
}

body {
  overflow-x: hidden;
}

.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.6s ease;
}

.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}

/* Corrected Tailwind CSS @layer directive */
@layer components {
  body {
    background-color: rgb(17 24 39); /* Use Tailwind's gray-900 instead of bg-gray-900 */
    overflow-x: hidden;
  }
}
